@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
body{
    font-family: 'Inter', sans-serif;
   
}
a{
    font-size: 18px;
}
p{
    font-size: 18px;
    margin: 15px 0 15px 0;
    color: #1f2b37;
}

:root{
    --white:#fff;
    --black:#121212;
    --gray:#555;
}
.wrapper{
    min-height: 100%;
   overflow: hidden;
}
header{
    height: 70px;
    width: 100%;
    padding: 0 25px 0 25px;
    background-color: var(--white);
    position: fixed;

    
}
.header-logo{
    height: 100%;
    /* width: 100px; */
   /*  background-color:var(--gray) ; */
    width: fit-content;

    display: flex;
    align-items: center;
}
.header-logo img{
    height: 35px;
}
nav{
   
    height: 100vh;
    width: 100%;
    background-color: var(--white);
    
    transition: 400ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    visibility: hidden;
    position: absolute;
    top: 70px;
    left: -100%;

    /* background-color: rgba(255, 255,255, 0.7);
    backdrop-filter: blur(25px); */
}
.nav-active{
    left: 0;
    visibility: visible;
}
nav ul{
    
}
nav ul li a{
    display: block;
    padding: 15px;
    margin: 30px;
    color: var(--black);
   font-size: 28px;
   /*  transition: cubic-bezier(0.165, 0.84, 0.44, 1); */
    
}
.menu-btn{ 
    position: absolute;
    top: 0;
    right: 15px;
    height: 100%;
    width: 60px;
    /* background-color: var(--gray); */
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-btn-bar{
    height: 2px;
    width: 30px;
    background-color: var(--black);
    margin: 5px;
    transition: 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.menu-btn-bar-1-active{
    position: absolute;
    margin: 0;
    transform: rotate(45deg);
}
.menu-btn-bar-2-active{
    position: absolute;
    margin: 0;
    transform: rotate(-45deg);
}
.svg-bg{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100vh;
    height: calc(100vh - 70px);
    z-index: -1;
    background-color: #adedc2;
}
main{

}
.page{
    
}
.page__section{
    padding: 25px;
    max-width: 1200px;
    margin: 0 auto;
}
.page__section_1{
    margin-top: 70px;
    min-height: calc(100vh - 70px);

    display: flex;
    flex-direction: column;
    justify-content: end;
    
}
.page__section_2{
    /* background-color:#c4f4f9; */
}
.page__section_3{
    
}
.page__title_main{
    font-size: 36px;
    font-weight: 800;
    margin: 15px 0 15px 0;
    color: #1f2b37;
}
.page__title__sub{
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin: 5px 0 5px 0;
    
    color: #63bff4;
    color: #e949bd;
    color: #4f76f6;
    color: #1f2b37;
    /* color: #8553f4; */

}
.page__title{
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin: 5px 0 5px 0;
    color: #1f2b37;
}

.socials__landing__page{
	margin: 25px 0 25px 0;
}

.socials__landing__page a{
	margin: 15px 15px 15px 0;
	
	display:inline-block;
	/* background-color: var(--black); */
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
}
.socials__landing__page a img{
	height: 35px;
	/* filter: invert(100%) sepia(34%) saturate(0%) hue-rotate(245deg) brightness(102%) contrast(102%);
 */}
.socials__landing__page a:hover{
	/* background-color:;
	border: 1px solid );
    */
} 


@media screen and (min-width:910px) {
    body{
        
    }
    .menu-btn{
        display: none;
    }
    header{
        padding: 0 50px 0 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    nav{
        height: 70px;
        width: auto;
       
        visibility: visible;    
        position: static;
        display: flex;
        align-items: center;
        margin:0 30px 0 30px;
        transition: none;
        background-color: var(--white);
    }
    nav ul{
        display: flex;
    }
    nav ul li a{
        display: inline;
        color: var(--black);
        font-size: 18px;
    }
    .page__title_main{
        font-size: 48px;
        font-weight: 800;
        line-height: 46px;
    }
    .page__title{
        font-size: 36px;
        font-weight: 600;
        line-height: 46px;
    }
}
@media screen and (min-width:1200px) {
    body{
        
    }
    header{
        
    }
    nav{
        transition: none;
        background-color: var(--white);
        font-size: 18px;
    }

}