@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
body{
    font-family: 'Inter', sans-serif;
   color: #1f2b37;
}



body._lock {
	overflow: hidden;
}





a{
    font-size: 18px;
    color: var(--text-dark);
}
p{
    font-size: 18px;
    line-height: 26px;
    /* margin: 15px 0 15px 0; */
    color: var(--text-dark);
}

:root{
    --transparent :rgba(0,0,0,0);
    --white:#fff;
    --black:#121212;

    --light-green:#adedc2;
    --light-blue:#c4f4f9;
    --text-dark:#1f2b37;
}
.wrapper{
    min-height: 100%;
   overflow: hidden;
}
header{
    height: 70px;
    width: 100%;
    padding: 0 25px 0 25px;
    position: fixed;

    background-color: rgba(255, 255, 255, 0);

    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}
.header-on-scroll{
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}
.header-bg-change{
    background-color: #ffffff;
}
.header-logo{
    height: 100%;
    /* width: 100px; */
   /*  background-color:var(--gray) ; */
    width: fit-content;

    display: flex;
    align-items: center;
}
.header-logo img{
    height: 35px;
}
nav{
   
    height: 100vh;
    width: 100%;
    background-color: var(--white);
    
    transition: 400ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    visibility: hidden;
    position: absolute;
    top: 70px;
    left: -100%;

    /* background-color: rgba(255, 255,255, 0.7);
    backdrop-filter: blur(25px); */
}
.nav-active{
    left: 0;
    visibility: visible;
}
nav ul{
    
}
nav ul li a{
    display: block;
    padding: 15px;
    margin: 30px;
    color: var(--black);
    font-size: 28px;  
}
.menu-btn{ 
    position: absolute;
    top: 0;
    right: 15px;
    height: 100%;
    width: 60px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-btn-bar{
    height: 2px;
    width: 30px;
    background-color: var(--black);
    margin: 5px;
    transition: 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.menu-btn-bar-1_active{
    position: absolute;
    margin: 0;
    transform: rotate(45deg);
}
.menu-btn-bar-2_active{
    position: absolute;
    margin: 0;
    transform: rotate(-45deg);
}
.svg-bg{
    position: absolute;
    /* top: 70px; */
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
   /*  height: calc(100vh - 70px); */
    z-index: -1;
    background-color: #adedc2;
}
main{

}
.page{
    
}
.page__section{
    padding: 25px;

    max-width: 1200px;
    margin: 0 auto;
}
.page__section_1{
    
    /* margin-top: 70px;  */
   /*  min-height: calc(100vh - 70px); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}
.page__section_2{
    /* background-color:#c4f4f9; */
}
.page__section_3{

}
.page__title_main{
    font-size: 36px;
    font-weight: 800;
    margin: 15px 0 15px 0;
    color: #1f2b37;
}
.page__title__sub{
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin: 5px 0 5px 0;
    
    /* color: #63bff4;
    color: #e949bd;
    color: #4f76f6; */
    color: #1f2b37;
    /* color: #8553f4; */

}
.page__title{
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin: 5px 0 5px 0;
    color: #1f2b37;
}
.page__text{
    margin: 0 0 15px 0;
}

.socials__landing__page{
	margin: 15px 0 15px 0;
}

.socials__landing__page a{
	margin: 15px 15px 15px 0;
	
	display:inline-block;
	/* background-color: var(--black); */
	padding: 10px;
	border: 2px solid rgba(0, 0, 0, 0.258);
	border-radius: 10px;
}
.socials__landing__page a img{
	height: 35px;
	/* filter: invert(100%) sepia(34%) saturate(0%) hue-rotate(245deg) brightness(102%) contrast(102%);
 */}
.socials__landing__page a:hover{
	/* background-color:;
	border: 1px solid );
    */
} 

.execom-container{
    padding: 15px 0 15px 0;
    margin: 25px 0 25px 0;
    
    display: grid;
    place-items: center;
    text-align: center;

    background-color: var(--light-green);

    background-image:radial-gradient(at 20% 9%, rgb(254, 242, 235) 0px, transparent 50%),
	radial-gradient(at 3% 44%, rgb(244, 226, 255) 0px, transparent 50%),
	radial-gradient(at 79% 29%, rgb(207, 234, 255) 0px, transparent 50%),
	radial-gradient(at 27% 60%, rgb(254, 220, 217) 0px, transparent 50%),
	radial-gradient(at 67% 64%, rgb(198, 255, 237) 0px, transparent 50%),
	radial-gradient(at 66% 36%, rgb(255, 242, 223) 0px, transparent 50%),
	radial-gradient(at 42% 16%, rgb(228, 228, 255) 0px, transparent 50%);

}
.execom-container .execom-container-head{
    margin: 25px 0 15px 0;
    font-size: 24px;
    /* display: block; */
    color: var(--text-dark);
    font-weight: 600;
}
.campus-core-team{
    padding: 10px;
    background-color: var(--transparent);
    margin-bottom: 15px;
}
.lead-info-card{
    padding: 20px 40px;
    margin: 10px;
    /* background-color: var(--light-blue); */
    display: grid;
    place-items: center;
    border-radius: 15px;
    /* border-bottom: 6px solid var(--light-green); */
    background-color: var(--white);

    
}
.lead-info-card > h3{
    color: var(--text-dark);
    font-weight:700;
    padding: 2.5px;
}
.lead-info-card > p{
    padding: 2.5px;
    color: var(--text-dark);
    font-size: 16px;
}
.lead-photo{
    height: 150px;
    width: 150px;
    background-color: var(--light-green);
    margin: 15px;
    border-radius: 120px;
}
.lead-photo img{

}

.tinkerhub-squad{
    /* display: grid;
    grid-template-columns: repeat(1,1fr); */
    padding: 10px;
}






.footer > div{
    padding: 25px 0 25px 0;
    background-color: var(--text-dark);
    
    text-align: center;
    
}
.footer>div>p{
    color: var(--light-blue);
}

@media screen and (min-width:910px) {
    body{
        
    }
    .menu-btn{
        display: none;
    }
    header{
        padding: 0 25px 0 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    nav{
        height: 70px;
        width: fit-content;
       
        visibility: visible;    
        position: static;
        display: flex;
        align-items: center;
        margin:0 15px 0 15px;
        transition: none;
        /* background-color: var(--white); */
        background-color: var(--transparent);
    }
    nav ul{
        display: flex;
    }
    nav ul li a{
        display: inline;
        background-color: var(--transparent);
        color: var(--black);
        font-size: 18px;
    }
    .page__title_main{
        font-size: 48px;
        font-weight: 800;
        line-height: 46px;
    }
    .page__title{
        font-size: 36px;
        font-weight: 600;
        line-height: 46px;
    }
    /* .execom-container{


    } */
    .campus-core-team{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-items: center;
    }
    .tinkerhub-squad{
        
        display: grid;
        grid-template-columns: repeat(3,1fr);
        place-items: center;
    }
}/* 
@media screen and (min-width:1200px) {
    body{
        
    }
    header{
        
    }
    nav{
        transition: none;
        background-color: var(--transparent);
        font-size: 18px;
    }

} */